{% extends "template.html" %}
{% block title %}Actions{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title is-1">Actions Overview</h1>
                <h2 class="subtitle">Click on an action for details.</h2>
                <div class="columns is-multiline">
                    {% for a in actions %}
                        <div class="column is-one-third">
                            <a class="box" title="{{ a.description }}" href="{{ url_for('actions', action_id=a.id) }}">{{ a.title }}</a>
                        </div>
                    {% endfor %}
                    </div>
                <hr>
                <b>{{ actions | length }} total</b>
            </div>

            {% include "includes/add_action.html" %}
        </div>
    </div>
</section>
{% endblock %}