{% extends "template.html" %}
{% block title %}Action{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">

            <div class="column is-6">
                <h1 class="title is-1">{{ action.title }}</h1>
                <h2 class="subtitle">{{ action.description }}</h2>

                <form action="/days/{{ today.strftime('%Y-%m-%d') }}/completion" method="POST">
                    <div class="field has-addons">
                        <div class="control add-completion">
                            <input class="is-hidden" type="number" name="action_id" value="{{ action.id }}">
                            <input class="input" type="text" name="comment" placeholder="Comments for new completion.">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary">Add for Today</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="column is-6">
                <article class="tile is-child notification is-warning ">
                    <p class="title is-5">Priority</p>
                    <p class="subtitle">{{ action.priority }}</p>
                </article>
                <article class="tile is-child notification is-primary ">
                    <p class="title is-5">Minimum Amount</p>
                    <p class="subtitle">{{ action.min_amount }} time daily</p>
                </article>
                <article class="tile is-child notification is-dark ">
                    <p class="title is-5">Completed</p>
                    <p class="subtitle">{{ completion_count }} times total</p>
                </article>
            </div>
        </div>

        <form action="/actions/{{ action.id }}/remove" method="POST" onsubmit="return confirm('Are you sure you want to remove this action? It cannot be undeleted.');">
            <button class="button is-large is-danger" type="submit">Remove Action</button>
        </form>
    </div>
</section>
{% endblock %}