<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Personal to-do.">
        <meta name="keywords" content="Personal,TODO">
        <meta name="author" content="Frank Matranga">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block head %}
        <title>{% block title %}{% endblock %} - Cotidie</title>
        {% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    </head>

    <body>
        {% include "includes/header.html" %}
        {% block content %}{% endblock %}
        {% include "includes/footer.html" %}
    </body>
</html>